@model  PKDT.Models.SanPham
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<div class="mainbl" style="padding-top: 100px">
    <div class="contentbl">
        <div class="top-contentbl">
            <h1>BLOGS</h1>
        </div>
        <div class="bot-contentbl">
            <div class="leftbl">
                <div class="searchbl">
                    <input type="searchbl" placeholder="Tìm kiếm...">
                    <button type="submitbl">
                        <i class="fa-solid fa-magnifying-glass" style="color:black"></i>
                    </button>
                </div>
                <div class="titlebl">
                    <h1>BÀI VIẾT MỚI</h1>
                </div>
                <div class="listbl">
                    <ul>
                        <li class="blog_postbl">
                            <div class="badgebl">
                                <img src="~/images/slider1.jpg"
                                     style="height: 40px;width: 40px;border:0;border-radius: 999px;">
                            </div>
                            <div class="widget_blogbl">
                                <a href="#" style="overflow: hidden;">
                                    Ý tưởng iPhone Ultra mang thiết kế Apple Watch
                                </a>
                            </div>
                        </li>
                        <li class="blog_postbl">
                            <div class="badgebl">
                                <img src="~/images/slider2.jpg"
                                     style="height: 40px;width: 40px;border:0;border-radius: 999px;">
                            </div>
                            <div class="widget_blogbl">
                                <a href="#">
                                    12 chiếc Iphone đắt giá nhất mọi thời đại
                                </a>
                            </div>
                        </li>
                        <li class="blog_postbl">
                            <div class="badgebl">
                                <img src="~/images/slider3.jpg"
                                     style="height: 40px;width: 40px;border:0;border-radius: 999px;">
                            </div>
                            <div class="widget_blogbl">
                                <a href="#">
                                    Nguyên nhân khiến kính cường lực điện thoại bị vỡ?
                                </a>
                            </div>
                        </li>
                        <li class="blog_postbl">
                            <div class="badgebl">
                                <img src="~/images/slider4.jpg"
                                     style="height: 40px;width: 40px;border:0;border-radius: 999px;">
                            </div>
                            <div class="widget_blogbl">
                                <a href="#">
                                    Tiềm năng của iPhone 'made in India'
                                </a>
                            </div>
                        </li>
                        <li class="blog_postbl">
                            <div class="badgebl">
                                <img src="~/images/slider5.jpg"
                                     style="height: 40px;width: 40px;border:0;border-radius: 999px;">
                            </div>
                            <div class="widget_blogbl">
                                <a href="#">
                                    Địa chỉ cung cấp ốp điện thoại Livestream giá rẻ uy tín tại Hà
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rightbl">
                <div class="right-colbl">
                    <div class="col-postbl">
                        <div class="col-innerbl">
                            <a href="Blog_1.html">
                                <div class="boxbl">
                                    <div class="box-imgbl">
                                        <a href="#">
                                            <img src="~/images/slider1.jpg" width="300px"
                                                 height="155px"
                                                 ">
                                        </a>
                                    </div>
                                    <div class="box-textbl">
                                        <a href="#">
                                            <div class="box-text-innerbl">
                                                <h5 class="post-titlebl">
                                                    Ý tưởng iPhone Ultra mang thiết kế Apple Watch
                                                </h5>
                                            </div>
                                            <div class="barbl"></div>
                                            <p class="gioi-thieubl">
                                                Mẫu iPhone "siêu đắt" của Apple được dự đoán có thiết kế bo cong và dày dặn, cùng chất liệu chế tác giống đồng hồ Watch Ultra.
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-postbl">
                        <div class="col-innerbl">
                            <a href="#">
                                <div class="boxbl">
                                    <div class="box-imgbl">
                                        <a href="#">
                                            <img src="/images/slider2.jpg" width="300px" height="155px">
                                        </a>
                                    </div>
                                    <a href="#">
                                        <div class="box-textbl">
                                            <div class="box-text-innerbl">
                                                <h5 class="post-titlebl">
                                                    12 chiếc Iphone đắt giá
                                                    nhất mọi thời đại
                                                </h5>
                                            </div>
                                            <div class="barbl"></div>
                                            <p class="gioi-thieubl">
                                                Công nghiệp sản xuất Iphone có dấu hiệu chững lại trong
                                                hai năm gần ...
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-postbl">
                        <div class="col-innerbl">
                            <a href="#">
                                <div class="boxbl">
                                    <div class="box-imgbl">
                                        <img src="~/images/slider3.jpg" width="300px"
                                             height="155px">
                                    </div>
                                    <div class="box-textbl">
                                        <div class="box-text-innerbl">
                                            <h5 class="post-titlebl">
                                                Nguyên nhân khiến kính cường lực điện thoại bị vỡ? Cách khắc phục?
                                            </h5>
                                        </div>
                                        <div class="bar"></div>
                                        <p class="gioi-thieubl">
                                            Kính cường lực có công dụng bảo vệ màn hình điện thoại của bạn. Thế nhưng nhiều trường hợp cường lực điện thoại bị nứt vỡ gây ảnh hưởng đến màn hình bên trong. Nguyên nhân khiến kính cường lực điện thoại bị vỡ là gì và cách k.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-postbl">
                        <div class="col-innerbl">
                            <a href="#">
                                <div class="boxbl">
                                    <div class="box-imgbl">
                                        <img src="~/images/slider4.jpg" width="300px"
                                             height="155px">
                                    </div>
                                    <div class="box-textbl">
                                        <div class="box-text-innerbl">
                                            <h5 class="post-titlebl">
                                                Tiềm năng của iPhone 'made in India'
                                            </h5>
                                        </div>
                                        <div class="barbl"></div>
                                        <p class="gioi-thieubl">
                                            Khi Apple tìm cách mở rộng dây chuyền sản xuất cho iPhone, Ấn Độ nổi lên như một điểm đến tiềm năng hàng đầu
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-postbl">
                        <div class="col-innerbl">
                            <a href="#">
                                <div class="boxbl">
                                    <div class="box-imgbl">
                                        <img src="~/images/slider5.jpg" width="300px"
                                             height="155px" ">
                                    </div>
                                    <div class="box-textbl">
                                        <div class="box-text-innerbl">
                                            <h5 class="post-titlebl">
                                                Địa chỉ cung cấp ốp điện thoại Livestream giá rẻ uy tín tại Hà Nội
                                            </h5>
                                        </div>
                                        <div class="barbl"></div>
                                        <p class="gioi-thieubl">
                                            Trong thời đại số đang phát triển và bùng nổ mạnh mẽ, kinh doanh online đang càng ngày càng phổ biến, trong đó hình thức livestream bán hàng online cũng trở thành một trong những phương thức bán hàng được ưa chuộng nhất. Vì t..
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

